html,
body {
    height: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;

}

#wrapper {
    width: 100vw;
    height: 300px;
    margin: 0 auto;
    background: linear-gradient(140deg, #f9a16366, #e4615e57);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* chocolate */
#container {
    height: 138px;
    width: 500px;
    margin: 0 auto;
    background: linear-gradient(140deg, #8b4513, #793c11);
    border: 3px solid rgba(255, 255, 255, 0.35);
    border-right-color: rgba(0, 0, 0, 0.3);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    box-shadow: 7px 7px 0 -2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

.piece {
    width: 90px;
    height: 20px;
    padding: 22px 0 18px;
    left: 4px;
    background: #7d3e11;
    border: 5px solid rgba(255, 255, 255, 0.35);
    border-right-color: rgba(0, 0, 0, 0.3);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0 0 0 14px #8b4513, inset 0 -16px 1px rgba(255, 255, 255, 0.3), inset 17px 17px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
    color: rgba(0, 0, 0, 0.4);

}

/* stars */

.sky {
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, rgba(2, 2, 11, 1) 35%, rgba(13, 13, 71, 1) 100%, rgba(0, 212, 255, 1) 100%);
    position: relative;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;

    -webkit-box-shadow: 2px 0px 37px 16px rgba(238, 230, 231, 1);
    -moz-box-shadow: 2px 0px 37px 16px rgba(238, 230, 231, 1);
    box-shadow: 2px 0px 37px 16px rgba(238, 230, 231, 1);
    right: 80px;
    top: 50px;
}

.moon {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.moon.one {
    background: #dcdcdcc4;
    right: 80px;
    top: 20px;
}

.moon.two {
    right: 99px;
    top: 20px;
    background: rgba(2, 2, 11, 1);
    box-shadow: 10px 0 5px -2px #888;
}

.bar {
    position: absolute;
    height: .1px;
    background: #46444b;

}

.bar.bar1 {
    right: 150px;
    top: 90px;
    width: 10px;
}

.bar.bar2 {
    right: 110px;
    top: 60px;
    width: 6px;
}

.bar.bar3 {
    right: 120px;
    top: 33px;
    width: 11px;
}

/* payphone */

.payphone_wrap {
    width: 100vw;
    height: 300px;
    margin: 0 auto;
}

.payphone_cont {

    margin: 10px;
    top: 10px;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.head1 {
    border-radius: 1000px 1000px 0px 0px;
    width: 220px;
    height: 60px;
    background: #c52724;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headOne {
    border-radius: 1000px 1000px 0px 0px;
    width: 200px;
    height: 50px;
    background: #991e23;
    box-shadow: inset 0px 7px 0px #671416
}

.head2 {
    width: 160px;
    height: 50px;
    background: #c52724;
    box-shadow: inset -1px 18px 0px #932023;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telephone {
    background: cornsilk;
    padding: 5px;
    font-weight: bold;
    box-shadow: inset 1px 7px 11px #6a1019
}

.payphone {
    width: 200px;
    height: 350px;
    background: #c52724;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #751e1e;
}

.squares_top {
    flex-direction: column;
    background: #991e23;
    width: 180px;
    height: 330px;
    box-shadow: inset -1px 11px 0px #6d1519;
    display: flex;
    justify-content: center;
    align-items: center;

}

.squares_cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #cc232a;
    width: 132px;
    grid-gap: 5px;
    padding: 5px;
    height: 250px;
    box-shadow: inset 0px -6px 0px #6a1019;
}

.squares_bottom {
    margin-top: 7px;
    background: #cc232a;
    width: 120px;
    height: 30px;
    box-shadow: inset 0px -6px 0px #6a1019;
}

.square {
    background: #211f20;
    width: 40px;
    height: 40px;
}

.square.dark {
    background: linear-gradient(0deg, rgba(47, 46, 47, 1) 0%, rgba(32, 32, 32, 1) 100%, rgba(0, 212, 255, 1) 100%);

}

.square.gradient {
    background: linear-gradient(0deg, rgba(63, 61, 64, 1) 14%, rgba(32, 32, 32, 1) 100%, rgba(0, 212, 255, 1) 100%);


}

.square.light {
    background: linear-gradient(0deg, rgba(127, 125, 128, 1) 0%, rgba(32, 32, 32, 1) 100%, rgba(0, 212, 255, 1) 100%);

}

.end {
    width: 220px;
    border: 1px solid #751e1e;
    height: 30px;
    background: #c52724;
}