
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

/*  buttons     */
.btns {
    width: 50px;
    height: 20px;
    padding: 5px;
    background: #02020b;
    position: fixed;
    top: 1.5rem;
    left: -0.75rem;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(90deg);
    z-index: 100;
}
.btn {
    display: inline-block;
    width: 20px;
    height: 100%;
    border-radius: 50%;
}
.btn.btn1 {
    background: #793c11;
}
.btn.btn2 {
    background: rgba(13, 13, 71, 1);
}

/*   chocolate      */
#chocolate {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(140deg, #f9a16366, #e4615e57);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* chocolate */
#container {
    height: 138px;
    width: 500px;
    margin: 0 auto;
    background: linear-gradient(140deg, #8b4513, #793c11);
    border: 3px solid rgba(255, 255, 255, 0.35);
    border-right-color: rgba(0, 0, 0, 0.3);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    box-shadow: 7px 7px 0 -2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

.piece {
    width: 90px;
    height: 20px;
    padding: 22px 0 18px;
    left: 4px;
    background: #7d3e11;
    border: 5px solid rgba(255, 255, 255, 0.35);
    border-right-color: rgba(0, 0, 0, 0.3);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0 0 0 14px #8b4513, inset 0 -16px 1px rgba(255, 255, 255, 0.3), inset 17px 17px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
    color: rgba(0, 0, 0, 0.4);

}

/* sky */


#sky {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(2, 2, 11, 1) 35%, rgba(13, 13, 71, 1) 100%, rgba(0, 212, 255, 1) 100%);
    position: relative;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;

    -webkit-box-shadow: 2px 0px 37px 16px rgba(238, 230, 231, 1);
    -moz-box-shadow: 2px 0px 37px 16px rgba(238, 230, 231, 1);
    box-shadow: 2px 0px 37px 16px rgba(238, 230, 231, 1);
    right: 80px;
    top: 50px;
}

/*  .star pseudos are moon  */
.star::before,
.star::after {
    content: '';
    position: absolute;
    top: -2.25rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.star::before {
    background: #dcdcdcc4;
    right: 1px;
}
.star::after {
    background: #02020b;
    right: 0.75rem;
    -webkit-box-shadow: 10px 0 5px -2px #888;
            box-shadow: 10px 0 5px -2px #888;
}

.bar {
    z-index: 1;
    background: #46444b;
    width: 10px;
    height: 1px;
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
}
.bar::before, 
.bar::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 100%;
    background: inherit;
}
.bar::before {
    top: -1.75rem;
    right: 1rem;  
}  
.bar::after {
    top: 1.75rem;
    right: 2.25rem;
}